<div class="nav-bar landing">
  <!-- <div class="nav-stripes"></div> -->
  <div class="nav-item-container">
    <div class="nav-item">Our Crew</div>
    <div class="nav-item">Contact Us</div>
  </div>
</div>
<div id="shield-icon">
  <img src="assets/VonDangerShield.png">
</div>
<img class="" id="titleBackground" src="assets/herc-1.jpg">
<div id="mainPageContainer">
  <div class="mainColumnItem screen-fill parallax-group" id="titleItem">
    <div class="tinted-bg-light"></div>
    <div class="inner" id="titleHolder" style="flex-direction:column">
      <img id="mainLogo" src="assets/VonDangerLogo2Red.png">
        <div id="tagline-holder" class="clipped-box-TR-BL border-red">
          <div class="tagline" id="tagline">DANGER IS OUR MIDDLE NAME</div>
          <div class="clipped-box-corner-TR border-red"></div>
          <div class="clipped-box-corner-BL border-red"></div>
        </div>
    </div>

      <div id="arrow-down">
        <img src="assets/arrow-down.png">
      </div>

  </div>

  <div class="mainColumnItem sticky-screen-fill" id="miningItem">
      <img id="miningBackground" class="background" src="assets/Mining-1.jpg">
      <div class="inner anchor-top" style="color:rgb(235,235,235); font-family: 'Eurasia', Arial, Helvetica, sans-serif; flex-direction:column">
        <div style="max-width:500px;">
          <h3>MINING</h3>
          <h3>AND</h3>
          <div>
            <h3>EXTRACTION</h3>  
            <hr>
          </div>
 

        </div>
        <div>
          Hadanite, Quantanium, and Laranite don't grow on trees.
        </div>
        <div style="font-style:italic; margin-top:100px;">
          <h2>So we blow up rocks.</h2>
        </div>
      </div>
  </div>
  <div class="mainColumnItem sticky-screen-fill" id="logistics-item">
    <img id="logisticsBackground" class="background" src="assets/herc-landed.png">
    <div class="inner text-outline-bright" style="font-family: 'Eurasia', Arial, Helvetica, sans-serif; flex-flow:column wrap; align-items:flex-end; align-self:end;">
      <div style="max-width:500px; text-align:end">
        <h3>LOGISTICS AND TRANSPORT</h3>
        <hr>
      </div>

      <div>
        If your supply chain is up against the clock
      </div>
      <div style="font-style:italic; margin-top:100px;">
        <h2>Hire people who don't believe in stop signs.</h2>
      </div>
    </div>
  </div>

  <div class="mainColumnItem sticky-screen-fill" id="salvage-item">
    <img class="background" src="assets/salvage.jpg">
    <div class="inner text-outline-bright" style="font-family: 'Eurasia', Arial, Helvetica, sans-serif;">
      <div>
        <div class="tint clipped-box-TR-BL"></div>
        <div style="max-width:500px; text-align:left">
          <h3>SALVAGE AND RECOVERY</h3>
          <hr>
        </div>

        <div>
          There's fun to be had in making messes
        </div>
        <div style="font-style:italic; margin-top:100px;">
          <h2>And money to be made cleaning them up.</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="mainColumnItem sticky-screen-fill" id="exploration-item" style="display: flex; flex-direction: column; align-content:center;">
    <img class="background" src="assets/Space-1.jpg" style="transform: scaleX(-1)">
    <div class="inner" style="color:rgb(235,235,235); font-family: 'Eurasia', Arial, Helvetica, sans-serif; align-items:flex-end; align-self:end">
      <div style="max-width:500px; text-align:end">
        <h3>EXPLORATION AND DISCOVERY</h3>
        <hr>
      </div>

      <div>
        We keep our clients safe
      </div>
      <div style="font-style:italic; margin-top:100px;">
        <h2>And their enemies unsafe.</h2>
      </div>
    </div>
  </div>


  <div class="parallax-group align-center" style="font-size:2em; color: white" id="group-1">
    <div class="parallax-layer base-layer align-center">
      BASE LAYER PAGE
    </div>
    <div class="parallax-layer mid-layer align-center">
      MID LAYER PAGE
    </div>
  </div>

  <div class="mainColumnItem screen-fill" id="ship-slideshow">
    <div>
      <div style="display: flex; flex-direction: row; justify-content:center"><h2 style="font-family: 'Eurasia', Arial, Helvetica, sans-serif; font-size:5em;">WE FLY EVERYTHING</h2></div>
    <div class="infinite-slider">
      <div class="slides">
        <img src="assets/slider/slider4.jpg">
        <img src="assets/slider/slider3.jpg">
        <img src="assets/slider/slider7.jpg">
        <img src="assets/slider/slider14.jpg">
        <img src="assets/slider/slider9.jpg">
        <img src="assets/slider/slider16.jpg">
        <img src="assets/slider/slider4.jpg">
        <img src="assets/slider/slider3.jpg">
        <img src="assets/slider/slider7.jpg">
      </div>
    </div>
      <div style="display: flex; flex-direction: row; justify-content:center"><h2 style="font-family: 'Eurasia', Arial, Helvetica, sans-serif; font-size:5em">IF WE CAN REACH THE PEDALS</h2></div>
    </div>
  </div>

  <div class="mainColumnItem sticky-screen-fill" style="display: flex; flex-direction: column; align-content:center;">
    <div class="background">
      <div class="video-grid"></div>
      <video id="video" autoplay muted loop>
        <source src="assets/Vondangerlite.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="text-glow" style="display: flex; flex-direction: column; align-content:center; flex-flow:column wrap; justify-content: center; color:rgb(235,235,235); font-family: 'Eurasia', Arial, Helvetica, sans-serif; z-index:2">
      <div style="align-self:center;">
        <h3>ANYWHERE.</h3>
      </div>
      <div style="align-self:center; margin-top: 450px;">
        <h3>ANYTIME.</h3>
      </div>
      <div style="align-self:center; margin-top: 550px; margin-bottom: 550px;">
        <h3>AS LONG AS WE FEEL LIKE IT.</h3>
      </div>
      <div style="align-self:center; text-align:center; margin-top: 550px; margin-bottom: 150px;">
        <img style="width:45%;" src="assets/VonDangerLogo2Red.png">
      </div>

    </div>
  </div>

</div>
