<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }


  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  #mainPageContainer{
    display:flex;
    flex-direction: column;
  }

  .mainColumnItem {
    width: 100%;
  }

  #titleItem {
    position: relative;
  }

  #titleHolder {
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translate(-50%);
    width: 50vw;
  }

  #mainLogo {
    width: 100%;
  }

  .itemBackground{
    width: 100%;
  }

  #miningItem{

  }

  .background{
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .screen-fill{
    min-height:100vh;
  }

  .sticky-screen-fill{
    position: relative;
    min-height: 200vh;
    width: 100%;
    background-color: #1f1f21;
    background-color: var(--global-font-color);
  }

  .sticky-screen-fill .background{
    width: 100%;
    height:100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .sticky-screen-fill .inner{
    position: relative;
    margin: 0 auto;
    padding: 0 12vw;
    z-index: 2;
    display: flex;
  }

  .sticky-screen-fill .full-content-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
  }

  .sticky-screen-fill h3{
    font-size:3em;
    font-weight: 700;
    line-height:1em;
  }

  .stickyBackground{
    object-fit: cover;
    position: sticky;
    top:0;
    width:100%;
    height: 100vh;
  }

  #video{
    width: auto;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    background-size: cover;
  }

  #tagline{
    margin-top: 70px;
  }

  #miningDetails{

  }

  .tagline {
    font-size: 2em;
    color: gray;
    width: 100%;
    text-align: center;
    font-style: italic;
    opacity: 75%;
    font-family: 'Eurasia', Arial, Helvetica, sans-serif;
  }

  #titleBackground {
    width: 100%;
  }

  .text-outline{
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .text-outline-bright{
    text-shadow:
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
     -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }

  .text-glow{
    text-shadow: 3px 3px 3px rgba(0, 255, 125, 0.4)
  }

  .text-glow-outline{
    text-shadow: 3px 3px 6px rgba(0, 225, 225, 0.6), -1px -1px 1px #233,  
     1px -1px 1px #233,
     -1px 1px 1px #233,
      1px 1px 1px #233;
  }

  .tint{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(12,12,13,.3);
    z-index: 1;
  }

  .video-grid{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background: transparent url("assets/Hero-Banner-Pattern.png") repeat center top;
  }

  .center{
    margin-left: auto;
    margin-right: auto;
  }

  .infinite-slider{
    position: relative;
    overflow: hidden;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .slides{
    display:flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    animation: infinite-slider 45s linear infinite;
  }

  .infinite-slider img{
    margin:10px;
  }

  @keyframes infinite-slider {
    0%    { left: 0; }
    100%  { left: -275%; }
  }

  #ship-slideshow{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(180deg, rgba(50,50,50,1) 0%, rgba(0,0,0,1) 50%, rgba(50,50,50,1) 100%);
  }

  #ship-slideshow h2{
    color: lightgrey;
    text-align: center;
  }
</style>
<div id="mainPageContainer">
  <div class="mainColumnItem screen-fill" id="titleItem">
    <img id="titleBackground" class="background" src="assets/herc-1.jpg">
    <div id="titleHolder">
      <img id="mainLogo" src="assets/VonDangerLogoLight3.png">
      <div class="tagline text-outline" id="tagline">In an unpredictable universe,</div>
      <div class="tagline text-outline" id="tagline2">Danger is our middle name</div>
    </div>

  </div>
  <div class="mainColumnItem sticky-screen-fill" id="miningItem">
      <div class="tint"></div>
      <img id="miningBackground" class="background" src="assets/miningbg.jpg">
      <div class="inner anchor-top" style="color:rgb(235,235,235); font-family: 'Eurasia', Arial, Helvetica, sans-serif; flex-direction:column">
        <div style="max-width:500px;">
          <h3>MINING</h3>
          <h3>AND</h3>
          <div>
            <h3>EXTRACTION</h3>  
            <hr>
          </div>
 

        </div>
        <div>
          Hadanite, Quantanium, and Laranite don't grow on trees.
        </div>
        <div style="font-style:italic; margin-top:100px;">
          <h2>So we blow up rocks.</h2>
        </div>
      </div>
  </div>
  <div class="mainColumnItem sticky-screen-fill" id="logistics-item">
    <div class="tint"></div>
    <img id="logisticsBackground" class="background" src="assets/herc-landed.png">
    <div class="inner text-outline-bright" style="font-family: 'Eurasia', Arial, Helvetica, sans-serif; flex-flow:column wrap; align-items:flex-end;">
      <div style="max-width:500px; text-align:end">
        <h3>LOGISTICS AND TRANSPORT</h3>
        <hr>
      </div>

      <div>
        If your supply chain is up against the clock
      </div>
      <div style="font-style:italic; margin-top:100px;">
        <h2>Hire people who don't believe in stop signs.</h2>
      </div>
    </div>
  </div>

  <div class="mainColumnItem sticky-screen-fill" id="salvage-item">
    <div class="tint"></div>
    <img class="background" src="assets/salvage.jpg">
    <div class="inner text-outline-bright" style="font-family: 'Eurasia', Arial, Helvetica, sans-serif; flex-flow:column wrap;">
      <div style="max-width:500px; text-align:left">
        <h3>SALVAGE AND RECOVERY</h3>
        <hr>
      </div>

      <div>
        There's fun to be had in making messes
      </div>
      <div style="font-style:italic; margin-top:100px;">
        <h2>And money to be made cleaning them up.</h2>
      </div>
    </div>
  </div>

  <div class="mainColumnItem sticky-screen-fill" id="security-item">
    <div class="tint"></div>
    <img class="background" src="assets/security.jpg">
    <div class="inner" style="color:rgb(235,235,235); font-family: 'Eurasia', Arial, Helvetica, sans-serif; flex-flow:column wrap; align-items:flex-end;">
      <div style="max-width:500px; text-align:end">
        <h3>SECURITY AND SABOTAGE</h3>
        <hr>
      </div>

      <div>
        We keep our clients safe
      </div>
      <div style="font-style:italic; margin-top:100px;">
        <h2>And their enemies unsafe.</h2>
      </div>
    </div>
  </div>

  <div class="mainColumnItem screen-fill" id="ship-slideshow">
    <div>
      <div style="display: flex; flex-direction: row; justify-content:center"><h2 style="font-family: 'Eurasia', Arial, Helvetica, sans-serif; font-size:5em;">WE FLY EVERYTHING</h2></div>
    <div class="infinite-slider">
      <div class="slides">
        <img src="assets/slider/slider4.jpg">
        <img src="assets/slider/slider3.jpg">
        <img src="assets/slider/slider7.jpg">
        <img src="assets/slider/slider14.jpg">
        <img src="assets/slider/slider9.jpg">
        <img src="assets/slider/slider16.jpg">
        <img src="assets/slider/slider4.jpg">
        <img src="assets/slider/slider3.jpg">
        <img src="assets/slider/slider7.jpg">
      </div>
    </div>
      <div style="display: flex; flex-direction: row; justify-content:center"><h2 style="font-family: 'Eurasia', Arial, Helvetica, sans-serif; font-size:5em">IF WE CAN REACH THE PEDALS</h2></div>
    </div>
  </div>

  <div class="mainColumnItem sticky-screen-fill" style="position:relative;">
    <div class="background">
      <div class="video-grid"></div>
      <video id="video" autoplay muted loop>
        <source src="assets/VonDanger.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="inner text-glow-outline" style="flex-flow:column wrap; justify-content: center; color:rgb(235,235,235); font-family: 'Eurasia', Arial, Helvetica, sans-serif;">
      <div style="align-self:center;">
        <h3>ANYWHERE.</h3>
      </div>
      <div style="align-self:center; margin-top: 450px;">
        <h3>ANYTIME.</h3>
      </div>
      <div style="align-self:center; margin-top: 550px; margin-bottom: 550px;">
        <h3>AS LONG AS WE FEEL LIKE IT.</h3>
      </div>
      <div style="align-self:center; text-align:center; margin-top: 550px; margin-bottom: 550px;">
        <img style="width:45%;" src="assets/VonDangerLogoLight3.png">
      </div>

    </div>
  </div>

</div>


