/* You can add global styles to this file, and also import other style files */
body {
    width: 100%;
    margin: 0;
    background-color: black;
}

@font-face {
    font-family: "Eurasia";
    src: local("Eurasia"), url(./assets/fonts/Eurasia-Extended-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Klein";
    src: local("Klein"), url(./assets/fonts/KleinHeadline-BoldOblique.ttf) format("truetype");
}

@font-face {
    font-family: "KarmaFuture";
    src: local("KarmaFuture"), url(./assets/fonts/KarmaFuture.ttf) format("truetype");
}

@font-face {
    font-family: "LotsOfDotz";
    src: local("LotsOfDotz"), url(./assets/fonts/LotsOfDotz.ttf) format("truetype");
}

@font-face {
    font-family: "VCR";
    src: local("VCR"), url(./assets/fonts/VCR_OSD_MONO.ttf) format("truetype");
}

@font-face {
    font-family: "unispace";
    src: local("unispace"), url(./assets/fonts/unispace.ttf) format("truetype");
}

@font-face {
    font-family: "NovaMono";
    src: local("NovaMono"), url(./assets/fonts/NovaMono.ttf) format("truetype");
}

@font-face {
    font-family: "Monofont";
    src: local("Monofont"), url(./assets/fonts/MONOFONT.ttf) format("truetype");
}

@font-face {
    font-family: "Instruction";
    src: local("Instruction"), url(./assets/fonts/Instruction.ttf) format("truetype");
}

body{
    overflow-x:hidden;
}

html{
    overflow-x:hidden;
}

.fade-in{
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.clipped-box-TR-BL{
    clip-path: 
    polygon(
        calc(100% - 20px) 0,
        calc(100% + 1px) 20px, 
        calc(100% + 1px) 100%,
        20px 100%,
        0 calc(100% - 20px),
        0 0
    )
  }

  .clipped-box-BOTTOMS{
    clip-path: 
    polygon(
      0 0,
      calc(100% + 1px) 0,
      calc(100% + 1px) calc(100% - 20px),
      calc(100% - 20px) calc(100% + 1px),
      20px calc(100% + 1px),
      0 calc(100% - 20px)
    )
  }

  .clipped-box-TOPS{
    clip-path: 
    polygon(
        calc(100% - 20px) 0,
        calc(100% + 1px) 20px, 
        calc(100% + 1px) 100%,
        0 100%,
        0 20px,
        20px 0
    )
  }

  .border-red{
    border-color:#ff2f4b;
    border-style:solid;
    border-width: 1px;
  }

  .border-white{
    border-color:#fff;
    border-style:solid;
    border-width: 1px;
  }

  .border-black{
    border-color:#000;
    border-style:solid;
    border-width:1px;
  }

  .border-blue{
    border-color:rgb(0, 180, 220);
    border-style:solid;
    border-width:1px;
  }

  .box-interior-glow-red{
    box-shadow: inset 0px 0px 10px 1px rgb(255, 47, 75);
  }

  .box-interior-glow-blue{
    box-shadow: inset 0px 0px 10px 1px rgb(0, 180, 220);
  }

  .clipped-box-corner-TR{
    width: 26px;
    height: 26px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%) translateY(-50%) rotate(45deg);
  }

  .clipped-box-corner-BL{
    width: 26px;
    height: 26px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
  }